.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.listContainer {
  width: 100%;
  height: 100%;
  display: grid;
}

.listL, .listR {
  display: block;
  width: 45%;
  padding-left: 10px;
  padding-right: 10px;

}
.listL{
  float: left;
}
.listR {  
  float: right;

}
.sortTitle {
  padding-top: 10%;
  display: block;
}

.searchBox {
  padding: 10px;
  width: 100%;
  text-align: center;
  display: block;}

.buttons, .topButtons {
  width: 100%;
  text-align: center;
  display: block;
}
.topButton {
  min-width:30%;
  text-align: center;
}
.button {
  min-width:50%;
  text-align: center;
}
button.button {
  border: 1px solid #0d0d0d;
  background-color: transparent;
  font-family: inherit;
  padding: 5;
  margin: 5;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
